<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CATEGORY</h1>
<a href="/category/create">Create new category</a>
<th:block th:if="${message}">
    <p th th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="cate : ${categorys}">
        <td th:text="${cate.id}"></td>
        <td th:text="${cate.name}"></td>
        <td><a th:href="@{/category/edit/__${cate.id}__}">Edit</a> </td>
        <td><a th:href="@{/category/delete/__${cate.id}__}">Delete</a> </td>
    </tr>
</table>
</body>
</html>