<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/blog/home}">Back List Blog</a>
<fieldset>
    <legend>Information</legend>
    <table>
        <tr>
            <td>Title:</td>
            <td th:text="${blogInfo.title}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td th:text="${blogInfo.content}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td th:text="${categoryName}"></td>
        </tr>
        <tr>
            <td>Img:</td>
            <td><img th:src="@{'/image/'+${blogInfo.getImage()}}" height="100px" width="100px"></td>
        </tr>
    </table>
</fieldset>
</body>
</html>